
.layout {
	border: 1px solid #d7dde4;
	background: #f5f7f9;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	height: 100%
}

.layout .layout-container, .layout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}


.layout-content {
	min-height: 200px;
	margin: 5px;
	overflow: auto;
	background: #fff;
	border-radius: 4px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 10px 10px;
	min-width: 1000px;
}

.layout-content-main {
	padding: 10px
}

.layout-copy {
	text-align: center;
	padding-bottom: 5px;
	color: #9ea7b4
}

.layout-menu-left {
	background: white;
}

.layout-header {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.layout-header .ivu-breadcrumb {
	margin-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center
}



.layout-logo-left {
	width: 90%;
	height: 30px;
	background: #5b6270;
	border-radius: 3px;
	margin: 15px auto
}

.layout-ceiling-main a {
	color: #9ba7b5
}

.layout-hide-text {
	display: none
}





.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex-container .layout-menu-left {
	width: 220px;
	transition: width .3s;
}

.flex-container .layout-menu-left-mini {
	width: 60px;
	background: #464c5b
}

.flex-container .layout-container {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	transition: width .3s;
	overflow-x: auto
}

.header-bar {
	height: 60px;
	width: 100%;
	background: white;

}

.header-bar .logo-wrap {
	float: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding: 15px 20px;
	color: hsla(0, 0%, 100%, .85)
}

.header-bar .logo-wrap .logo-img, .header-bar .logo-wrap .logo-img img {
	height: 100%
}

.header-bar .right-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: right;
	height: 100%;
	padding-right: 20px;
	color: #fff;
}



.header-bar .right-wrap .account, .header-bar .right-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 10px;
}

.header-bar .right-wrap {
	padding: 0 20px;
	font-size: 24px !important;
	cursor: pointer
}

body, html {
	height: 100%;
	margin:0;
}

